html, body {
  background-color: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.masonry {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 32px;
}

.image {
  margin-bottom: 20px;
  border-radius: 7px;
  width: 200px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22)
}

.image a {
  display: block;
  position: relative;
  overflow: hidden;
  color: white;
  text-decoration: none;
}

.image img {
  border-radius: 5px;
  display: block;
  width: 200px;
  max-height: 300px;
}

.image-info {
  border-radius: 0 0 5px 5px;
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  width: 190px;
  height: 0;
  line-height: 26px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.image a:hover .image-info {
  height: 26px;
  background-color: rgba(0, 0, 0, 0.7);
}

footer {
  text-align: center;
}
